@import url("https://fonts.font.im/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('./assets/bg/IndexA01.png') no-repeat center fixed;
    background-size: cover;
    /* background: #222; */
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(74, 74, 74, 0.2) 0%, rgba(74, 74, 74, 0.35) 74.97%, rgba(74, 74, 74, 0.5) 100%); */
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a3bbe1c5;
    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #212224 0%, rgba(33, 34, 36, 0.65) 58.33%, rgba(33, 34, 36, 0) 100%);
}

header .logo {
    position: relative;
    max-width: 192px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 60px;
}

.content {
    position: relative;
    /* width: 100%; */
    width: 635px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 595px;
    margin-left: 40px;
    /* margin-right: 20px; */
}

.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p {
    color: #c8c7cc;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: justify;
}

.content .textBox a {
    display: inline-block;
    margin-top: 80px;
    padding: 16px 40px;
    background: #A3BBE1;
    color: #fff;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
}

.sci {
    position: relative;
    /* bottom: 40px;
    left: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #4a4a4a;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #A3BBE1;
    transform: translateY(-10px);
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.content .imgBox {
    width: 100%;
}

.content .imgBox img {
    position: relative;
    max-width: 504px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}